.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand {
    text-decoration: none;
    color: $black;
    font-weight: 600;
    margin-left: 3rem;
  }

  .menu-button {
    width: 2rem;
    margin-right: 3rem;
    cursor: pointer;
  }
}
