.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  text-decoration: none;
  color: $black;
  font-weight: 600;
  margin-left: 3rem;
}

.header__menu-button {
  width: 2rem;
  margin-right: 3rem;
}
