.work-screen {
  width: 100%;

  .statement {
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .statement__line {
    margin: 1rem 0;
  }
}
