.work-screen {
  width: 100%;

  .statement {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
  }

  .statement__line {
    margin: 0.3rem 0;
  }
}
