.work {
  display: flex;
  height: 100vh;
  margin-left: 10vw;
  align-items: center;
}

.work__inner {
  display: flex;
  height: 60vh;
}

.work__statement {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.work__statement-line {
  margin-bottom: 0.5rem;
}

.work__projects {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
