// Colors
$black: #1d1d1d;
$white: #ffffff;
$purple: #beaffd;
$orange: #fdafaf;
$pink: #fdafde;
$grey: #e5e5e5;
$green: #cdfdaf;
$cyan: #afeafd;
$blue: #8daaf2;

// Custom eases
$dropBlinds: cubic-bezier(0.6, 0.05, 0.14, 0.96);
